# Introduction
Parse wikipedia using beautifulsoap

### Imports
Import libraries and write settings here.

In [2]:
import requests
from bs4 import BeautifulSoup
import urllib.request as urllib2
import re

# Data manipulation
import pandas as pd
import numpy as np

import nltk

### Data preprocessing and cleaning
Get links from the website using BeautifulSoup

In [2]:
def getHTMLContent(link):
    '''function that can parse the website'''
    html = urllib2.urlopen(link)
    soup = BeautifulSoup(html, 'html.parser')
    return soup

html_page = "https://en.wikipedia.org/wiki/Category:American_male_film_actors"

soap = getHTMLContent(html_page)

In [12]:
result_parse = soap.body.find('div', attrs={'style':'text-align:center'}).findAll('a')

links = [] # get all the actress' link from the website

for link in result_parse:
    links.append(link.get('href'))

In [13]:
#links=links[10:]
links

['//en.wikipedia.org/wiki/Category:American_male_film_actors?from=9',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Aa',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ae',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Aj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ao',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=At',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ba',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Be',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Bj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Bo',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Bt',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ca',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ce',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Cj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Co',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ct',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Da',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=De',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Dj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Do',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Dt',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ea',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ee',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ej',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Eo',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Et',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Fa',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Fe',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Fj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Fo',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ft',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ga',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ge',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Gj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Go',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Gt',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ha',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=He',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Hj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ho',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ht',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ia',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ie',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ij',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Io',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=It',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ja',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Je',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Jj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Jo',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Jt',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ka',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ke',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Kj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ko',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Kt',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=La',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Le',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Lj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Lo',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Lt',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ma',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Me',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Mj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Mo',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Mt',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Na',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ne',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Nj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=No',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Nt',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Oa',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Oe',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Oj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Oo',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ot',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Pa',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Pe',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Pj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Po',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Pt',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Qa',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Qe',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Qj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Qo',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Qt',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ra',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Re',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Rj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ro',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Rt',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Sa',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Se',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Sj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=So',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=St',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ta',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Te',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Tj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=To',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Tt',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ua',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ue',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Uj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Uo',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ut',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Va',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ve',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Vj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Vo',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Vt',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Wa',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=We',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Wj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Wo',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Wt',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Xa',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Xe',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Xj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Xo',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Xt',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ya',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ye',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Yj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Yo',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Yt',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Za',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Ze',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Zj',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Zo',
 '//en.wikipedia.org/wiki/Category:American_male_film_actors?from=Zt']

In [14]:
"https:"+links[0]

'https://en.wikipedia.org/wiki/Category:American_male_film_actors?from=9'

In [28]:
# get links for all actors' name
link_name = [] # get all the actress' link from the website

for url in links:
    get_page = getHTMLContent("https:"+ url)
    page = get_page.find('div', {'class': 'mw-category'}).findAll('a')
    
    for link in page:
        link_name.append(link.get('href'))

In [29]:
len(link_name)

24446

In [31]:
# save links to a csv file
df_links = pd.DataFrame(link_name, columns = ['link']);
df_links.to_csv ('export_links_actors.csv', header=True)

In [79]:
df_links.head()

                  link
0        /wiki/50_Cent
1      /wiki/Lee_Aaker
2   /wiki/Willie_Aames
3  /wiki/Quinton_Aaron
4   /wiki/Victor_Aaron

#### get information from the links

In [80]:
##### parse text data from wiki #####
name1 = []
bday1 = []
education1 = []
spouse1 = []
child1 =[] 
birthplace1 = []
role1=[]
bday1_spouse = []
birthplace1_spouse = []
role1_spouse = []
spouse1_spouse = []
child1_spouse = []

for url in df_links['link']:

    get_page = getHTMLContent('https://en.wikipedia.org' + url)
    table = get_page.find('table', {'class': 'infobox biography vcard'})
    try:
        name = table.find("div", { "class" : "fn" }).text
        name1.append(name)       
    except:
        name1.append(None)
    try:
        bday = table.find("span", { "class" : "bday" }).text
        bday1.append(bday)
    except:
        bday1.append(None)
    try:
        education = table.find("th", text="Education").find_next_sibling("td").text
        education1.append(education)
    except:
        education1.append(None)
    try:
        spouse = table.find("span", { "class" : "nowrap"}).findNext('td').get_text(separator=" ")
        spouse1.append(spouse)
    except:
        spouse1.append(None)
    try:
        child = table.find("th", text="Children").find_next_sibling("td").text
        child1.append(child)
    except:
        child1.append(None)
    try:
        birthplace = table.find("div", { "class" : "birthplace" }).text
        birthplace1.append(birthplace)
    except:
        birthplace1.append(None)
    try:
        role = table.find("td", { "class" : "role" }).text
        role1.append(role)
    except:
        role1.append(None)
    
    # first spouse information
    
    try:
        spouse_1 = table.find("div", { "style" : "display:inline-block;line-height:normal;margin:2px 0px;"}).findAll('a')#.get('href')
        spouse_link = [link.get('href') for link in spouse_1]
        get_spouse_link = getHTMLContent('https://en.wikipedia.org' + spouse_link[0])
        table_spouse = get_spouse_link.find('table', {'class': 'infobox biography vcard'})
        
        bday_spouse = table_spouse.find("span", { "class" : "bday" }).text
        bday1_spouse.append(bday_spouse)
        
    except:
        bday1_spouse.append(None)
        
    try:
        spouse_1 = table.find("div", { "style" : "display:inline-block;line-height:normal;margin:2px 0px;"}).findAll('a')#.get('href')
        spouse_link = [link.get('href') for link in spouse_1]
        get_spouse_link = getHTMLContent('https://en.wikipedia.org' + spouse_link[0])
        table_spouse = get_spouse_link.find('table', {'class': 'infobox biography vcard'})
        
        birthplace_spouse = table_spouse.find("div", { "class" : "birthplace" }).text
        birthplace1_spouse.append(birthplace_spouse)
    except:
        birthplace1_spouse.append(None)
    try:
        spouse_1 = table.find("div", { "style" : "display:inline-block;line-height:normal;margin:2px 0px;"}).findAll('a')#.get('href')
        spouse_link = [link.get('href') for link in spouse_1]
        get_spouse_link = getHTMLContent('https://en.wikipedia.org' + spouse_link[0])
        table_spouse = get_spouse_link.find('table', {'class': 'infobox biography vcard'})
        
        role_spouse = table_spouse.find("td", { "class" : "role" }).text
        role1_spouse.append(role_spouse)
    except:
        role1_spouse.append(None) 
    try:
        spouse_1 = table.find("div", { "style" : "display:inline-block;line-height:normal;margin:2px 0px;"}).findAll('a')#.get('href')
        spouse_link = [link.get('href') for link in spouse_1]
        get_spouse_link = getHTMLContent('https://en.wikipedia.org' + spouse_link[0])
        table_spouse = get_spouse_link.find('table', {'class': 'infobox biography vcard'})
        
        spouse_spouse = table_spouse.find("span", { "class" : "nowrap"}).findNext('td').get_text(separator=" ")
        spouse1_spouse.append(spouse_spouse)
    except:
        spouse1_spouse.append(None) 
    try:
        spouse_1 = table.find("div", { "style" : "display:inline-block;line-height:normal;margin:2px 0px;"}).findAll('a')#.get('href')
        spouse_link = [link.get('href') for link in spouse_1]
        get_spouse_link = getHTMLContent('https://en.wikipedia.org' + spouse_link[0])
        table_spouse = get_spouse_link.find('table', {'class': 'infobox biography vcard'})
        
        child_spouse = table_spouse.find("th", text="Children").find_next_sibling("td").text
        child1_spouse.append(child_spouse)
    except:
        child1_spouse.append(None)

In [94]:
# convert to pandas dataformat
df = pd.DataFrame({'name_m': name1, 'bday_m':bday1, 'spouse_m':spouse1, 'child_m':child1,\
                   'education_m':education1,'role_m':role1,\
                   'birthplace_m':birthplace1,\
                  'bday_m_sp':bday1_spouse, 'birthplace_m_sp': birthplace1_spouse, 'role_m_sp':role1_spouse,\
                  'spouse_m_sp':spouse1_spouse, 'child_m_sp':child1_spouse})

df.fillna(value=pd.np.nan, inplace=True); # replace None to nan

In [95]:
# clean nan data and reset index
df = df.dropna(axis=0, how='all').reset_index(drop=True);
df

,name_m,bday_m,spouse_m,child_m,education_m,role_m,birthplace_m,bday_m_sp,birthplace_m_sp,role_m_sp,spouse_m_sp,child_m_sp
0,50 Cent,1975-07-06,\n G-Unit \n Dr. Dre \n Eminem \n The Game \n ...,2,NaN,\nRapper\nsinger\nsongwriter\nactor\nentrepren...,"New York City, New York, U.S.",NaN,NaN,NaN,NaN,NaN
1,Lee Aaker,1943-09-25,Sharon Ann Hamilton (1969-71) (divorced),NaN,NaN,"Actor, producer, carpenter, ski instructor","Los Angeles, California, U.S.",NaN,NaN,NaN,NaN,NaN
2,Willie Aames,1960-07-15,Vicki Weatherman ( m. 1979–1984) Maylo McCasl...,2,NaN,"Actor, director, television producer, screenwr...","Newport Beach, California, U.S.",NaN,NaN,NaN,NaN,NaN
3,Quinton Aaron,1984-08-15,NaN,NaN,NaN,Actor,"The Bronx, New York, U.S.",NaN,NaN,NaN,NaN,NaN
4,Victor Aaron,1956-09-11,Eduvina Matta (m. 1974–1984) divorced,2,NaN,"Actor, voice actor","Odessa, Texas, U.S.",NaN,NaN,NaN,NaN,NaN
5,Bruce Abbott,1954-07-28,Linda Hamilton ( m. 1982; div. 1989) Kathle...,2,NaN,Actor,"Portland, Oregon, U.S.",1956-09-26,"Salisbury, Maryland, U.S.",Actress,\n Bruce Abbott ( m. 1982; div. 1989) \n Ja...,2
6,Bud Abbott,NaN,Betty Smith ( m. 1918),2,NaN,"Actor, comedian, producer","Asbury Park, New Jersey, U.S.",NaN,NaN,NaN,NaN,NaN
7,Christopher Abbott,1986-02-01,NaN,NaN,HB Studio,Actor,"Greenwich, Connecticut, U.S.",NaN,NaN,NaN,NaN,NaN
8,Philip Abbott,NaN,Jane Dufrayne ( m. 1950–1998),NaN,NaN,Actor,"Lincoln, Nebraska, U.S.",NaN,NaN,NaN,NaN,NaN
9,Richard Abbott,1899-05-22,NaN,NaN,NaN,Actor,"Antwerp, Belgium",NaN,NaN,NaN,NaN,NaN
10,Jake Abel,1987-11-18,Allie Wood ( m. 2013),NaN,NaN,"Model, actor, singer","Canton, Ohio, U.S.",NaN,NaN,NaN,NaN,NaN
11,Walter Abel,1898-06-06,Marietta Bitter (1926-1979; her death),2,NaN,Actor,"St. Paul, Minnesota, U.S.",NaN,NaN,NaN,NaN,NaN
12,Zachary Abel,1980-09-04,NaN,NaN,NaN,Actor,"Middletown, Indiana, U.S.",NaN,NaN,NaN,NaN,NaN
13,F. Murray Abraham,1939-10-24,Kate Hannan ( m. 1962),2,NaN,Actor,"Pittsburgh, Pennsylvania, U.S.",NaN,NaN,NaN,NaN,NaN
14,Jon Abrahams,1977-10-29,NaN,NaN,NaN,Actor,"New York City, New York, U.S.",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
21153,Bill Zuckert,1915-12-18,"Gladys Holland (? - 1997, his death)",NaN,NaN,Actor,"Bronx, New York",NaN,NaN,NaN,NaN,NaN
21154,Albert Zugsmith,1910-04-24,NaN,NaN,NaN,"Director, producer, screenwriter","Atlantic City, New Jersey, U.S.",NaN,NaN,NaN,NaN,NaN
21155,Jim Zulevic,NaN,NaN,NaN,NaN,"Actor, comedian, writer, radio host","Chicago, Illinois, US",NaN,NaN,NaN,NaN,NaN
21156,Rick Zumwalt,1951-09-24,NaN,NaN,NaN,"Actor, Professional arm-wrestler","St. Louis, Missouri U.S",NaN,NaN,NaN,NaN,NaN
21157,José Zúñiga,1965-04-01,Laura Levine (m. 1991),Stella Zuniga (b. 2000),NaN,Actor,"Tegucigalpa, Honduras",NaN,NaN,NaN,NaN,NaN
21158,Darrell Zwerling,NaN,NaN,NaN,NaN,Actor,"Pittsburgh, Pennsylvania, U.S.",NaN,NaN,NaN,NaN,NaN
21159,Chris Zylka,1985-05-09,NaN,NaN,NaN,Actor,"Warren, Ohio, U.S.",NaN,NaN,NaN,NaN,NaN
21160,Josh Zuckerman,1985-04-01,NaN,NaN,NaN,Actor,"Los Altos, California, United States",NaN,NaN,NaN,NaN,NaN
21161,Bill Zuckert,1915-12-18,"Gladys Holland (? - 1997, his death)",NaN,NaN,Actor,"Bronx, New York",NaN,NaN,NaN,NaN,NaN
21162,Albert Zugsmith,1910-04-24,NaN,NaN,NaN,"Director, producer, screenwriter","Atlantic City, New Jersey, U.S.",NaN,NaN,NaN,NaN,NaN
21163,Jim Zulevic,NaN,NaN,NaN,NaN,"Actor, comedian, writer, radio host","Chicago, Illinois, US",NaN,NaN,NaN,NaN,NaN
21164,Rick Zumwalt,1951-09-24,NaN,NaN,NaN,"Actor, Professional arm-wrestler","St. Louis, Missouri U.S",NaN,NaN,NaN,NaN,NaN
21165,José Zúñiga,1965-04-01,Laura Levine (m. 1991),Stella Zuniga (b. 2000),NaN,Actor,"Tegucigalpa, Honduras",NaN,NaN,NaN,NaN,NaN
21166,Darrell Zwerling,NaN,NaN,NaN,NaN,Actor,"Pittsburgh, Pennsylvania, U.S.",NaN,NaN,NaN,NaN,NaN
21167,Chris Zylka,1985-05-09,NaN,NaN,NaN,Actor,"Warren, Ohio, U.S.",NaN,NaN,NaN,NaN,NaN

In [100]:
# save links to a csv file
df.to_csv ('export_df_actor.csv', header=True)

In [3]:
df = pd.read_csv('export_df_actor.csv')

In [5]:
# count missing data
print(df.isnull().sum())
print("total number of actress : {}".format(len(df)) )

Unnamed: 0             0
name_m                 8
bday_m              2348
spouse_m           10986
child_m            14930
education_m        19604
role_m              2097
birthplace_m         995
bday_m_sp          19676
birthplace_m_sp    19624
role_m_sp          19726
spouse_m_sp        19604
child_m_sp         20039
age_m_diff         19706
age_m               2348
age_m_spouse       19676
dtype: int64
total number of actress : 21168

In [7]:
# rename columns
df.rename(columns={'name_m': 'name', 'bday_m': 'bday','spouse_m':'name_spouse', 'child_m':'num_of_child',\
                  'education_m':'edu','role_m':'role', 'birthplace_m':'birthplace', 'bday_m_sp':'bday_sp',\
                   'birthplace_m_sp':'birthplace_sp', 'role_m_sp':'role_sp',\
                   'spouse_m_sp':'name_sp_sp', 'child_m_sp':'num_of_child_sp', \
                   'age_diff_m':'age_diff', 'age_m':'age', 'age_m_spouse':'age_sp'}, inplace=True)

### Calculate ages of actors and age difference 
Age difference between the spouses in the first marriage

In [8]:
# Calculate the ages

from time import gmtime, strftime
time_now = pd.to_datetime(strftime("%Y-%m-%d", gmtime()))

df['bday'] = pd.to_datetime(df['bday']);
df['bday_sp'] = pd.to_datetime(df['bday_sp']);

df['age_diff'] = (df['bday']-df['bday_sp'])/np.timedelta64(1,'Y')
df['age']= (time_now - df['bday'])/np.timedelta64(1,'Y')
df['age_spouse']= (time_now - df['bday_sp'])/np.timedelta64(1,'Y')

In [9]:
df.head()

,Unnamed: 0,name,bday,name_spouse,num_of_child,edu,role,birthplace,bday_sp,birthplace_sp,role_sp,name_sp_sp,num_of_child_sp,age_m_diff,age,age_sp,age_diff,age_spouse
0,0,50 Cent,1975-07-06,\n G-Unit \n Dr. Dre \n Eminem \n The Game \n ...,2,NaN,\nRapper\nsinger\nsongwriter\nactor\nentrepren...,"New York City, New York, U.S.",NaT,NaN,NaN,NaN,NaN,NaN,43.776395,NaN,NaN,NaN
1,1,Lee Aaker,1943-09-25,Sharon Ann Hamilton (1969-71) (divorced),NaN,NaN,"Actor, producer, carpenter, ski instructor","Los Angeles, California, U.S.",NaT,NaN,NaN,NaN,NaN,NaN,75.555282,NaN,NaN,NaN
2,2,Willie Aames,1960-07-15,Vicki Weatherman ( m. 1979–1984) Maylo McCasl...,2,NaN,"Actor, director, television producer, screenwr...","Newport Beach, California, U.S.",NaT,NaN,NaN,NaN,NaN,NaN,58.750009,NaN,NaN,NaN
3,3,Quinton Aaron,1984-08-15,NaN,NaN,NaN,Actor,"The Bronx, New York, U.S.",NaT,NaN,NaN,NaN,NaN,NaN,34.664641,NaN,NaN,NaN
4,4,Victor Aaron,1956-09-11,Eduvina Matta (m. 1974–1984) divorced,2,NaN,"Actor, voice actor","Odessa, Texas, U.S.",NaT,NaN,NaN,NaN,NaN,NaN,62.591292,NaN,NaN,NaN

## Clean text
Helper functions for cleaning the text

In [10]:
REPLACE_BY_SPACE_RE = re.compile('[/{}\[\]\|.,;]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z #-+_]')
REPLACE_BY_a = re.compile('[(]')
REPLACE_BY_b = re.compile('[)]')
REPLACE_BY_c = re.compile('[–]')
REPLACE_BY_c = re.compile('[–-]')

def clean_text(text):
    """
        text: a string of the spouse column
        return: modified initial string
    """
    #text = text.lower() # lowercase text
    text = REPLACE_BY_SPACE_RE.sub(' ', text) # replace REPLACE_BY_SPACE_RE symbols by space in text. substitute the matched string in REPLACE_BY_SPACE_RE with space.
    #text = BAD_SYMBOLS_RE.sub(' ', text) # remove symbols which are in BAD_SYMBOLS_RE from text. substitute the matched string in BAD_SYMBOLS_RE with nothing. 
    text = REPLACE_BY_a.sub(' ( ', text)
    text = REPLACE_BY_b.sub(' ) ', text)
    text = REPLACE_BY_c.sub(' ', text)
    text = re.sub(r"divorced", " div ", text)
    text = re.sub(r"divorce", " div ", text)
    text = re.sub(r"annulled", " div ", text)
    text = re.sub(r"separated", " div ", text)
    text = re.sub(r" sep ", " div ", text)
    text = re.sub(r" ann ", " div ", text)
    text = re.sub(r"his death", " de ", text)
    text = re.sub(r"died", " de ", text)
    
    #text = ' '.join(word for word in text.split() if word not in STOPWORDS) # remove stopwors from text
    return text

def clean_text_role(text):
    """
        text: a string of the role column
        remove stopword, lower case
        return: modified initial string
    """
    import nltk
    from nltk.corpus import stopwords
    try:
        text = text.lower() # lowercase text
        text = re.sub(r"and", " ", text)
        text = re.sub(r"U.S.", " US ", text)
        text = re.sub(r"divorce", " div ", text)
    except:text = np.nan
    return text

def clean_text_child(text):
    """
        text: a string of child column
        remove stopword, lower case
        return: modified initial string
    """
    import nltk
    from nltk.corpus import stopwords
    try:
        
        text = str(text)
        text = text.lower() # lowercase text
        text = re.compile('[^0-9]').sub(' ', text) # replace REPLACE_BY_SPACE_RE symbols by space in text. substitute the matched string in REPLACE_BY_SPACE_RE with space.
        text = int(text)
        if text > 100:
            text = np.nan
        else: text = int(text)
            
    except:
        text = np.nan 

    return text

In [11]:
def spouse_m_d(data):
    '''
    clean text and return spouse name, marraged year, and divoice year
    only return the result of marriage less than 5 times
    input: array for spouse_f column before 'clean_text' function
    output: spouse name, marraged year, divoice year (list)
    '''
    try:
        text = clean_text(data).split()
        indices_m = [i for i, x in enumerate(text) if x == "m"]
        indices_div = [i for i, x in enumerate(text) if x == "div"]
        indices1 = [i for i, x in enumerate(text) if x == "("]
        indices2 = [i for i, x in enumerate(text) if x == ")"]

        if len(indices_m) == 0:
            name = np.nan
            year_m = np.nan
        elif len(indices_m) == 1:
            name = [" ".join(text[0:indices1[0]])]
            year_m =[int(text[indices_m[0]+1])]
        elif len(indices_m) == 2:
            name = [" ".join(text[0:indices1[0]]), " ".join(text[indices2[0]+1:indices1[1]])]
            year_m = [int(text[indices_m[0]+1]), int(text[indices_m[1]+1])]
        elif len(indices_m) == 3:
            name = [" ".join(text[0:indices1[0]]), " ".join(text[indices2[0]+1:indices1[1]]),\
                    " ".join(text[indices2[1]+1:indices1[2]])]
                             
            year_m = [int(text[indices_m[0]+1]), int(text[indices_m[1]+1]), int(text[indices_m[2]+1])]
        elif len(indices_m) == 4:
            name = [" ".join(text[0:indices1[0]]), " ".join(text[indices2[0]+1:indices1[1]]),\
                    " ".join(text[indices2[1]+1:indices1[2]]), " ".join(text[indices2[2]+1:indices1[3]])]
            year_m = [int(text[indices_m[0]+1]), int(text[indices_m[1]+1]), int(text[indices_m[2]+1]), int(text[indices_m[3]+1])]
        elif len(indices_m) == 5:
            name = [" ".join(text[0:indices1[0]]), " ".join(text[indices2[0]+1:indices1[1]]),\
                    " ".join(text[indices2[1]+1:indices1[2]]), " ".join(text[indices2[2]+1:indices1[3]]),\
                   " ".join(text[indices2[3]+1:indices1[4]])]
            year_m = [int(text[indices_m[0]+1]), int(text[indices_m[1]+1]), int(text[indices_m[2]+1]), \
                     int(text[indices_m[3]+1]), int(text[indices_m[4]+1])]
        else:
            name = "more than 5"
            year_m = np.nan
    
        
        if len(indices_div) == 0:
            year_d = np.nan
        elif len(indices_div) == 1:
            year_d = [int(text[indices_div[0]+1])]
        elif len(indices_div) == 2:
            year_d = [int(text[indices_div[0]+1]), int(text[indices_div[1]+1])]
        elif len(indices_div) == 3:
            year_d = [int(text[indices_div[0]+1]), int(text[indices_div[1]+1]), int(text[indices_div[2]+1])]
        elif len(indices_div) == 4:
            year_d = [int(text[indices_div[0]+1]), int(text[indices_div[1]+1]), int(text[indices_div[2]+1]), int(text[indices_div[3]+1])]                                                                                       
        elif len(indices_div) == 5:
            year_d = [int(text[indices_div[0]+1]), int(text[indices_div[1]+1]), int(text[indices_div[2]+1]), \
                     int(text[indices_div[3]+1]),  int(text[indices_div[4]+1])]  
        else:
            year_d = np.nan

    except:
        name = np.nan
        year_m = np.nan
        year_d = np.nan
    
    return (name, year_m, year_d)

- Clean text of *spouse name*
- Calculate year of marriaged, year of divoice, and number of childs

In [12]:
name_spouse = []
year_m = []
year_div = []
name_sp_sp = []
year_m_sp = []
year_div_sp = []
num_of_child = []
num_of_child_sp = []


for i in range(len(df)):
    a_name, a_year_m, a_year_d = spouse_m_d(df['name_spouse'][i])
    a_name_sp, a_year_m_sp, a_year_d_sp = spouse_m_d(df['name_sp_sp'][i])
    
    a_child = clean_text_child(df['num_of_child'][i])
    a_child_sp  = clean_text_child(df['num_of_child_sp'][i])
    
    name_spouse.append(a_name); year_m.append(a_year_m);year_div.append(a_year_d);
    name_sp_sp.append(a_name_sp); year_m_sp.append(a_year_m_sp);year_div_sp.append(a_year_d_sp);
    num_of_child.append(a_child); 
    num_of_child_sp.append(a_child_sp);


dict = {'name_spouse_cl':name_spouse, 'year_m':year_m, 'year_div': year_div, \
        'name_sp_sp_cl':name_sp_sp, 'year_m_sp':year_m_sp, 'year_div_sp':year_div_sp,\
        'num_of_child_cl':num_of_child , 'num_of_child_sp_cl':num_of_child_sp}

df_spouse_info = pd.DataFrame(dict)

In [13]:
# combine dataframe
df = pd.concat([df, df_spouse_info], axis=1)
df.head()

,Unnamed: 0,name,bday,name_spouse,num_of_child,edu,role,birthplace,bday_sp,birthplace_sp,...,age_diff,age_spouse,name_spouse_cl,year_m,year_div,name_sp_sp_cl,year_m_sp,year_div_sp,num_of_child_cl,num_of_child_sp_cl
0,0,50 Cent,1975-07-06,\n G-Unit \n Dr. Dre \n Eminem \n The Game \n ...,2,NaN,\nRapper\nsinger\nsongwriter\nactor\nentrepren...,"New York City, New York, U.S.",NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
1,1,Lee Aaker,1943-09-25,Sharon Ann Hamilton (1969-71) (divorced),NaN,NaN,"Actor, producer, carpenter, ski instructor","Los Angeles, California, U.S.",NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Willie Aames,1960-07-15,Vicki Weatherman ( m. 1979–1984) Maylo McCasl...,2,NaN,"Actor, director, television producer, screenwr...","Newport Beach, California, U.S.",NaT,NaN,...,NaN,NaN,"[Vicki Weatherman, Maylo McCaslin, Winnie Hung]","[1979, 1986, 2014]",NaN,NaN,NaN,NaN,2.0,NaN
3,3,Quinton Aaron,1984-08-15,NaN,NaN,NaN,Actor,"The Bronx, New York, U.S.",NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Victor Aaron,1956-09-11,Eduvina Matta (m. 1974–1984) divorced,2,NaN,"Actor, voice actor","Odessa, Texas, U.S.",NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN

#### number of marriage
Calculate number of marriage

In [14]:
df_s = pd.DataFrame()
df_s['name_spouse_cl'] = df['name_spouse_cl']

df_s.dropna(inplace = True)
df_s['num_of_m'] = df['name_spouse_cl'].str.len()
df_s.head()

                                     name_spouse_cl  num_of_m
2   [Vicki Weatherman, Maylo McCaslin, Winnie Hung]       3.0
5                [Linda Hamilton, Kathleen Quinlan]       2.0
6                                     [Betty Smith]       1.0
8                                   [Jane Dufrayne]       1.0
10                                     [Allie Wood]       1.0

In [15]:
df_ss = pd.DataFrame()
df_ss['name_sp_sp_cl'] = df['name_sp_sp_cl']

df_ss.dropna(inplace = True)
df_ss['num_of_m_sp'] = df['name_sp_sp_cl'].str.len()
df_ss.head()

                      name_sp_sp_cl  num_of_m_sp
5     [Bruce Abbott, James Cameron]          2.0
17  [Jonathan Lemkin, Kirk Acevedo]          2.0
18                [Jensen Ackles 1]          1.0
30                     [Nick Adams]          1.0
40                 [Paul Adelstein]          1.0

In [16]:
df = pd.concat([df, df_s, df_ss], axis=1)
df.head()

,Unnamed: 0,name,bday,name_spouse,num_of_child,edu,role,birthplace,bday_sp,birthplace_sp,...,year_div,name_sp_sp_cl,year_m_sp,year_div_sp,num_of_child_cl,num_of_child_sp_cl,name_spouse_cl,num_of_m,name_sp_sp_cl,num_of_m_sp
0,0,50 Cent,1975-07-06,\n G-Unit \n Dr. Dre \n Eminem \n The Game \n ...,2,NaN,\nRapper\nsinger\nsongwriter\nactor\nentrepren...,"New York City, New York, U.S.",NaT,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
1,1,Lee Aaker,1943-09-25,Sharon Ann Hamilton (1969-71) (divorced),NaN,NaN,"Actor, producer, carpenter, ski instructor","Los Angeles, California, U.S.",NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Willie Aames,1960-07-15,Vicki Weatherman ( m. 1979–1984) Maylo McCasl...,2,NaN,"Actor, director, television producer, screenwr...","Newport Beach, California, U.S.",NaT,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,"[Vicki Weatherman, Maylo McCaslin, Winnie Hung]",3.0,NaN,NaN
3,3,Quinton Aaron,1984-08-15,NaN,NaN,NaN,Actor,"The Bronx, New York, U.S.",NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Victor Aaron,1956-09-11,Eduvina Matta (m. 1974–1984) divorced,2,NaN,"Actor, voice actor","Odessa, Texas, U.S.",NaT,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN

#### number of role
calculate the number of role

In [17]:
df_role = pd.DataFrame()

df_role['role'] = df['role']

df_role.dropna(inplace = True)

num_of_role = []
for i in range(len(df_role)):
    x = len(df_role['role'].values.tolist()[i].split())
    num_of_role.append(x)
df_nor = pd.DataFrame({'num_of_role': num_of_role})#

df_nor.head()

   num_of_role
0            8
1            5
2            5
3            1
4            3

In [18]:
df_role_sp = pd.DataFrame()

df_role_sp['role_sp'] = df['role_sp']

df_role_sp.dropna(inplace = True)

num_of_role_sp = []
for i in range(len(df_role_sp)):
    x = len(df_role_sp['role_sp'].values.tolist()[i].split())
    num_of_role_sp.append(x)
df_nor_sp = pd.DataFrame({'num_of_role_sp': num_of_role_sp})#

df_nor_sp.head()

   num_of_role_sp
0               1
1               1
2               1
3               2
4               1

In [19]:
df = pd.concat([df, df_nor, df_nor_sp], axis=1)
df.head()

,Unnamed: 0,name,bday,name_spouse,num_of_child,edu,role,birthplace,bday_sp,birthplace_sp,...,year_m_sp,year_div_sp,num_of_child_cl,num_of_child_sp_cl,name_spouse_cl,num_of_m,name_sp_sp_cl,num_of_m_sp,num_of_role,num_of_role_sp
0,0,50 Cent,1975-07-06,\n G-Unit \n Dr. Dre \n Eminem \n The Game \n ...,2,NaN,\nRapper\nsinger\nsongwriter\nactor\nentrepren...,"New York City, New York, U.S.",NaT,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,8.0,1.0
1,1,Lee Aaker,1943-09-25,Sharon Ann Hamilton (1969-71) (divorced),NaN,NaN,"Actor, producer, carpenter, ski instructor","Los Angeles, California, U.S.",NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0
2,2,Willie Aames,1960-07-15,Vicki Weatherman ( m. 1979–1984) Maylo McCasl...,2,NaN,"Actor, director, television producer, screenwr...","Newport Beach, California, U.S.",NaT,NaN,...,NaN,NaN,2.0,NaN,"[Vicki Weatherman, Maylo McCaslin, Winnie Hung]",3.0,NaN,NaN,5.0,1.0
3,3,Quinton Aaron,1984-08-15,NaN,NaN,NaN,Actor,"The Bronx, New York, U.S.",NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,4,Victor Aaron,1956-09-11,Eduvina Matta (m. 1974–1984) divorced,2,NaN,"Actor, voice actor","Odessa, Texas, U.S.",NaT,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,3.0,1.0

#### Birthplace
Get "latitude" and "longitude" from birthplace and convert them to geohash

In [20]:
def get_geohash(address, api_key=None, return_full_response=False):
    """
    Get geocode results from Google Maps Geocoding API.
    
    Note, that in the case of multiple google geocode reuslts, this function returns details of the FIRST result.
    
    @param address: String address as accurate as possible. For Example "18 Grafton Street, Dublin, Ireland"
    @param api_key: String API key if present from google. 
                    If supplied, requests will use your allowance from the Google API. If not, you
                    will be limited to the free usage of 2500 requests per day.
    @param return_full_response: Boolean to indicate if you'd like to return the full response from google. This
                    is useful if you'd like additional location details for storage or parsing later.
    """
    import geohash
    # Set up your Geocoding url
    geocode_url = "https://maps.googleapis.com/maps/api/geocode/json?address={}".format(address)
    api_key = 'AIzaSyA7SMzj0ewhMeObO2EtLDRFDDJcDEUaj4E'
    if api_key is not None:
        geocode_url = geocode_url + "&key={}".format(api_key)
        
    # Ping google for the reuslts:
    results = requests.get(geocode_url)
    # Results will be in JSON format - convert to dict using requests functionality
    results = results.json()
    
    # if there's no results or an error, return empty results.
    if len(results['results']) == 0:
        output = {
            "formatted_address" : None,
            "latitude": None,
            "longitude": None,
        }
    else:    
        answer = results['results'][0]
        output = {

            "latitude": answer.get('geometry').get('location').get('lat'),
            "longitude": answer.get('geometry').get('location').get('lng'),
        }
        

    if output["latitude"]== None and output["longitude"] == None:
        geohash = np.nan
    else:
        geohash = geohash.encode(output["latitude"],output["longitude"],7)
    
    return geohash

In [21]:
# convert birthplace to geohash
df_geo = pd.DataFrame()
df_geo['birthplace'] = df['birthplace']
df_geo['birthplace'].dropna(inplace = True)

geohash = []
for i in range(len(df_geo['birthplace'])):
    geohash.append(get_geohash(df_geo['birthplace'].values.tolist()[i]))

df_geo1 = pd.DataFrame({'geohash':geohash})
df_geo = pd.concat([df_geo, df_geo1], axis=1)

In [24]:
# convert birthplace (spouse) to geohash
df_geo_sp = pd.DataFrame()
df_geo_sp['birthplace_sp'] = df['birthplace_sp']
df_geo_sp['birthplace_sp'].dropna(inplace = True)

geohash_sp = []
for i in range(len(df_geo_sp['birthplace_sp'])):
    geohash.append(get_geohash(df_geo_sp['birthplace_sp'].values.tolist()[i]))

df_geo2 = pd.DataFrame({'geohash_sp':geohash_sp})
df_geo_sp = pd.concat([df_geo_sp, df_geo2], axis=1)

In [27]:
#df_geo = df_geo.drop(['birthplace'], axis=1);
df_geo_sp = df_geo_sp.drop(['birthplace_sp'], axis=1);
df= pd.concat([df, df_geo, df_geo_sp], axis=1)

#### Zodiacal sign from birthday

In [28]:
import os
from datetime import date
def Zodiacal(Year, Month, Day):

    os.system("cls")

    '''Capricorn:0, aquarium:1,Pices:2, Aries:3, Taurus:4, Gemini:5, Cancer:6, Leo:7, Virgo:8,\
        Libra: 9, Scorpio:10, Sagittarius:11
    '''
    try:
        if ((int(Month)==12 and int(Day) >= 22)or(int(Month)==1 and int(Day)<= 19)):
            zodiac_sign = int(0)#("\n Capricorn")
        elif ((int(Month)==1 and int(Day) >= 20)or(int(Month)==2 and int(Day)<= 17)):
            zodiac_sign = int(1)#("\n aquarium")
        elif ((int(Month)==2 and int(Day) >= 18)or(int(Month)==3 and int(Day)<= 19)):
            zodiac_sign = int(2)#("\n Pices")
        elif ((int(Month)==3 and int(Day) >= 20)or(int(Month)==4 and int(Day)<= 19)):
            zodiac_sign = int(3)#("\n Aries")
        elif ((int(Month)==4 and int(Day) >= 20)or(int(Month)==5 and int(Day)<= 20)):
            zodiac_sign = int(4)#("\n Taurus")
        elif ((int(Month)==5 and int(Day) >= 21)or(int(Month)==6 and int(Day)<= 20)):
            zodiac_sign = int(5)#("\n Gemini")
        elif ((int(Month)==6 and int(Day) >= 21)or(int(Month)==7 and int(Day)<= 22)):
            zodiac_sign = int(6)#("\n Cancer")
        elif ((int(Month)==7 and int(Day) >= 23)or(int(Month)==8 and int(Day)<= 22)): 
            zodiac_sign = int(7)#("\n Leo")
        elif ((int(Month)==8 and int(Day) >= 23)or(int(Month)==9 and int(Day)<= 22)): 
            zodiac_sign = int(8)#("\n Virgo")
        elif ((int(Month)==9 and int(Day) >= 23)or(int(Month)==10 and int(Day)<= 22)):
            zodiac_sign = int(9)#("\n Libra")
        elif ((int(Month)==10 and int(Day) >= 23)or(int(Month)==11 and int(Day)<= 21)): 
            zodiac_sign = int(10)#("\n Scorpio")
        elif ((int(Month)==11 and int(Day) >= 22)or(int(Month)==12 and int(Day)<= 21)):
            zodiac_sign = int(11)#("\n Sagittarius")
    except:
        zodiac_sign = np.nan
    return(zodiac_sign)

In [29]:
# find the zodiac sign from birthday
zodiac = []

for i in range(len(df['bday'])):
    Year = pd.to_datetime(df['bday'].values[i]).year
    Month = pd.to_datetime(df['bday'].values[i]).month
    Day = pd.to_datetime(df['bday'].values[i]).day

    zodiac.append(Zodiacal(Year, Month, Day))

df_zod = pd.DataFrame({'zodiac':zodiac})

In [30]:
# find the zodiac sign from birthday (spouse)
zodiac_sp = []

for i in range(len(df['bday_sp'])):
    Year = pd.to_datetime(df['bday_sp'].values[i]).year
    Month = pd.to_datetime(df['bday_sp'].values[i]).month
    Day = pd.to_datetime(df['bday_sp'].values[i]).day

    zodiac_sp.append(Zodiacal(Year, Month, Day))

df_zod_sp = pd.DataFrame({'zodiac_sp':zodiac_sp})

In [31]:
df= pd.concat([df, df_zod, df_zod_sp], axis=1)

In [32]:
df.columns

Index(['Unnamed: 0', 'name', 'bday', 'name_spouse', 'num_of_child', 'edu',
       'role', 'birthplace', 'bday_sp', 'birthplace_sp', 'role_sp',
       'name_sp_sp', 'num_of_child_sp', 'age_m_diff', 'age', 'age_sp',
       'age_diff', 'age_spouse', 'name_spouse_cl', 'year_m', 'year_div',
       'name_sp_sp_cl', 'year_m_sp', 'year_div_sp', 'num_of_child_cl',
       'num_of_child_sp_cl', 'name_spouse_cl', 'num_of_m', 'name_sp_sp_cl',
       'num_of_m_sp', 'num_of_role', 'num_of_role_sp', 'geohash', 'geohash_sp',
       'zodiac', 'zodiac_sp'],
      dtype='object')

In [33]:
df.head()

,Unnamed: 0,name,bday,name_spouse,num_of_child,edu,role,birthplace,bday_sp,birthplace_sp,...,name_spouse_cl,num_of_m,name_sp_sp_cl,num_of_m_sp,num_of_role,num_of_role_sp,geohash,geohash_sp,zodiac,zodiac_sp
0,0,50 Cent,1975-07-06,\n G-Unit \n Dr. Dre \n Eminem \n The Game \n ...,2,NaN,\nRapper\nsinger\nsongwriter\nactor\nentrepren...,"New York City, New York, U.S.",NaT,NaN,...,NaN,NaN,NaN,NaN,8.0,1.0,dr5regw,NaN,6.0,NaN
1,1,Lee Aaker,1943-09-25,Sharon Ann Hamilton (1969-71) (divorced),NaN,NaN,"Actor, producer, carpenter, ski instructor","Los Angeles, California, U.S.",NaT,NaN,...,NaN,NaN,NaN,NaN,5.0,1.0,9q5ctr1,NaN,9.0,NaN
2,2,Willie Aames,1960-07-15,Vicki Weatherman ( m. 1979–1984) Maylo McCasl...,2,NaN,"Actor, director, television producer, screenwr...","Newport Beach, California, U.S.",NaT,NaN,...,"[Vicki Weatherman, Maylo McCaslin, Winnie Hung]",3.0,NaN,NaN,5.0,1.0,9mupk2n,NaN,6.0,NaN
3,3,Quinton Aaron,1984-08-15,NaN,NaN,NaN,Actor,"The Bronx, New York, U.S.",NaT,NaN,...,NaN,NaN,NaN,NaN,1.0,2.0,dr72r5t,NaN,7.0,NaN
4,4,Victor Aaron,1956-09-11,Eduvina Matta (m. 1974–1984) divorced,2,NaN,"Actor, voice actor","Odessa, Texas, U.S.",NaT,NaN,...,NaN,NaN,NaN,NaN,3.0,1.0,9txjnt6,NaN,8.0,NaN

In [34]:
# count missing data
print(df.isnull().sum())
print("total number of actress : {}".format(len(df)) )

Unnamed: 0                0
name                      8
bday                   2348
name_spouse           10986
num_of_child          14930
edu                   19604
role                   2097
birthplace              995
bday_sp               19676
birthplace_sp         19624
role_sp               19726
name_sp_sp            19604
num_of_child_sp       20039
age_m_diff            19706
age                    2348
age_sp                19676
age_diff              19706
age_spouse            19676
name_spouse_cl        16074
year_m                16089
year_div              19144
name_sp_sp_cl         19864
year_m_sp             19869
year_div_sp           20457
num_of_child_cl       16090
num_of_child_sp_cl    20233
name_spouse_cl        16074
num_of_m              16074
name_sp_sp_cl         19864
num_of_m_sp           19864
num_of_role            2097
num_of_role_sp        19726
geohash                1059
geohash_sp            21168
zodiac                 2348
zodiac_sp             19676
dtype: int64
total number of actress : 21168

In [35]:
# save links to a csv file
df.to_csv ('export_df_actor.csv', header=True)

# Analysis/Modeling
Do work here

# Results
Show graphs and stats here

# Conclusions and Next Steps
Summarize findings here